
.créditos{
    color: #3a6092;
    font-size: small;
  }
  
  .azulclarinho{
    color: var(--azul-claro);
  }
  
  .footer-c{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -20px;
  }
  
  .footer-container {
    display: flex;
    max-width: var(--container-width);
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  footer {
    margin-top: 100px;
    background-color: var(--azul-principal);
    color: var(--texto-preto);
    padding: 25px;
    text-align: center;
    border-top-right-radius: 50px;
    height: 160px;
    margin-right: var(--margin-20);
  }
  
  .footer-logo img {
    width: 150px;
    margin: var(--margin-20);
    padding-right: var(--margin-20);
    border-right: 1px solid #45b7e5;
  }
  
  .footer-info p {
    margin: 0 0 var(--margin-10) 0;
    text-align: left;
    color: white;
  }
  
  .footer-info p i {
    color: #45b7e5;
  }
  
  .footer-info p svg {
    margin-right: 4px;
    width: 15px;
    height: 15px;
    fill: #f9e20f;
  }
  
  @media (max-width: 500px) {
    .footer-container {
      align-items: flex-start;
      flex-direction: column; /* Altera para apresentar o conteúdo em coluna (verticalmente) */
    }
  
    .footer-logo img {
      padding: 20px;
      border-bottom: 1px solid #45b7e5;
      border-right: 0;
      margin-left: 0; /* Ajusta a margem esquerda conforme necessário */
      padding-left: 0; /* Ajusta o padding esquerdo conforme necessário */
      border-right: none;
    }
  
    footer {
      height: 340px;
      margin-right: 0;
    }
  
  }